.node {
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 2px solid black;
}

.node-start {
    background-color: green;
}

.node-end {
    background-color: red;
}

.node-wall {
    background-color: black;
}

.node-visited {
    background-color: purple; /* Example color for visited nodes */
}