.node {
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 2px solid black;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

.wall {
    background-color: black;
}

.visited {
    background-color: purple;
}

.path {
    background-color: yellow;     
}